/* 
    Created on : 13/05/2016, 20:44:11
    Author     : fabio.ssantos13
*/

@charset "UTF-8";
/*inicio das imagems-------------------------------------------------------------------------------------------------------------------------*/
.infoIlustrativa{
	font-size:10px;
	text-align:right;
}
/*fim das imagems----------------------------------------------------------------------------------------------------------------------------*/


