/* 
    Created on : 13/05/2016, 20:14:53
    Author     : fabio.ssantos13
*/

@charset "UTF-8";

/*Inicio da row Projeção da locação*/
div.projecaoCor{
	background-color:#80b3ff;
	margin:0px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius:4px;
}
p.projecao{
	font-size:16px;
	text-align:center;
	margin:0;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bolder;
	
}
div p.local{
	background-color: #0047b3;
	color:white;
	height:auto;
}
/*Fim da row Projeção da locação*/

/*Inicio dos Cabeçalhos */
section h1{
	background-color:#7e7e7e;
	position:relative;
	top:-30px;
	margin-left:-10px;
	margin-right:-10px;
	font-size:22px;
	text-align:center;
	height:40px;
	padding-top:10px;
	color:white;
}
aside h1{
	background-color:#7e7e7e;
	position:relative;
	top:-30px;
	margin-left:-10px;
	margin-right:-10px;
	font-size:22px;
	text-align:center;
	height:40px;
	padding-top:10px;
	color:white;
}
/*Fim dos Cabeçalhos */
div.t{
margin:0;
}
/*Inicio section ----------------------------------------------------------------------------------------------------------------*/
section.col-md-8.col-sm-12.col-xs-12{
    margin: 2px 0 2px 0;
	height:750px;
	padding:10px;	
	background-color:Gainsboro;
	border:1px solid rgba(0,0,0,0.1);
}
.botoesEsq{
text-align:left;
}
.botoesDir{
text-align:right;
}

p #btSupDir{
	position:relative;
	top:-10px;
	background-color:#0047b3;
	color:white;
	font-size:16px;
	border:1px solid rgba(0,0,0,0.3);
	border-radius:3px;

}

p #btInfeDir{
	background-color:#0047b3;
	color:white;
	font-size:16px;
	border:1px solid rgba(0,0,0,0.3);
	border-radius:3px;
}
div.cabRetira h3{
	margin-left:auto;
	margin-right:auto;
	width:auto;
	text-align:center;
	margin-top:0px;
	margin-bottom:20px;
	font-weight:bold;
	font-size:22px;
}
div.cabDevolucao h3{
	margin-left:auto;
	margin-right:auto;
	width:auto;
	text-align:center;
	margin-bottom:30px;
	margin-top:30px;
	font-weight:bold;
	font-size:22px;
}
div.pergunta span{
	font-size:17px;
	font-weight:bold;
	margin-right:10px;
}
.pergunta{
	margin-bottom:20px;
}
.labelStyle{
	font-size:18px;
	font-weight:400;
}
.inputStyle,select{
border-radius:5px;
border:1px solid rgba(0,0,0,.4);
height:30px;
}
input[id="localRetira"],input[id="localDevolucao"]{
	width:255px;
	margin-bottom:20px;
}
input[id="dataRetira"],input[id="dataDevolucao"]{
	width:140px;
}
hr{
	background-color:white;
	color:white;
	height:2px;
}
/*Fim section--------------------------------------------------------------------------------------------------------------------*/

/*Inicio do aside----------------------------------------------------------------------------------------------------------------*/

aside.col-md-4.col-sm-12.col-xs-12 {
	margin: 2px 0 2px 0;
	height:750px;
	padding:10px;
	background-color:#ECECEC;
	border:1px solid rgba(0,0,0,0.1);
}
aside p{

	font-size:18px;
	text-align:center;
}
aside p a{
	text-decoration:none;
	color:black;
	padding:5px;
	border:1px solid rgba(0,0,0,0.2);
	font-weight:bold;
	background-color:#80b3ff;
}
aside p a:hover{
	color:black;
}

/*Fim da aside-------------------------------------------------------------------------------------------------------------------*/

/*Responsividade*/
@media(max-width:1200px){
	
}
@media(max-width:992px){
aside.col-md-4.col-sm-12.col-xs-12 {
	height:auto;
}
section.col-md-8.col-sm-12.col-xs-12{
	height:auto;
}
}
@media(max-width:768px){
section.col-md-8.col-sm-12.col-xs-12{
	height:auto;
}
}
@media(max-width:480px){

}

